@import "tailwindcss";
@import "flowbite";

@font-face {
  font-family: 'BMJUA';
  src: url('/fonts/BMJUA_otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4의 CSS 기반 설정 */
@layer utilities {
  .font-bmjua {
    font-family: 'BMJUA', sans-serif;
  }
}